body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Roboto', sans-serif;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #20232a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

.clock {
    font-size: 4rem;
    text-align: center;
}

#date {
    font-size: 1.5rem;
    margin-top: 10px;
}
